* {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    text-shadow: 0 1px 0 rgb(0 0 0 / 21%);
}

ul {
    padding-left: 0;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #B04647;
}

main {
    background: url(/username.traktorKillmachine.io/img/bg.png) no-repeat top fixed;
    background-size: cover;
    background-blend-mode: darken;
}

section {
    margin-bottom: 0px;
}

section:first-child {
    margin-bottom: 0px;
}

section:last-child {
    margin-bottom: 0px;
}

section:nth-child(2) {
    margin-bottom: 150px;
}

.main_text {
    text-align: center;
    max-width: 450px;
    margin-bottom: 60px;
}

.main_text_h1 {
    font-size: 47px;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}

.main_text_p {
    font-size: 18px;
    font-weight: 300;
    color: #F2BCBC;
}

.input_box .row .col-md-9 {
    background: hsla(0,0%,100%,.3);
    border-radius: 40px;
    box-shadow: 0px 0px 40px #0000006e;
}

.input_box_p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.input_box_item_p {
    margin: 0;
}

.input_box_item:first-child {
    padding-top: 60px;
}

.input_box_item {
    padding-top: 40px;
}

.input_box_item:nth-child(4) {
    width: 100%;
    width: 100%;
    text-align: center;
    font-weight: 100;
    padding-top: 5px;
}

.input_box_item_link {
    color: #F64141;
    text-shadow: 1px 0 rgb(0 0 0 / 21%);
}

.input_box_item_link:hover {
    color: #F64141;
    text-shadow: 1px 0 rgb(0 0 0 / 21%);
}

.input_box_input {
    background: #fff;
    color: #000;
    border-style: none;
    outline-style: none;
    width: 100%;
    height: 64px;
    border-radius: 25px;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    text-shadow: 1px 0 rgb(0 0 0 / 21%);
}

.btn {
    display: flex;
    justify-content: center;
    background: #F64141;
    border-style: none;
    margin: 9px 0px 0px;
    border-radius: 23px;
    padding: 12px;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
}

.btn:hover {
    background: #F64141;
}

.input_box_btn {
    padding-bottom: 65px;
}

.p_title {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    font-size: 31px;
}

.p_title:nth-child(2) {
    margin-bottom: 200px;
}

.p_title::before, .p_title::after {
    content: '';
    position: relative;
    width: 163px;
    height: 1px;
    background: #fff;
}

.p_title::before {
    left: -15px;
}

.p_title::after {
    right: -15px;
}

.GamePackages_container_item {
	margin: 10px 10px 120px 10px;
    background: hsla(0,0%,100%,.3);
    border-radius: 15px;
    border: 10px solid #cd5c5c;
    box-shadow: 0px 0px 40px #0000006e;
}

.GamePackages {
    position: relative;
}

.GamePackages .GamePackages_container_item_box .text-center {
    position: absolute;
    margin: auto;
    position: absolute;
    top: -100px;
    left: 55px;
    bottom: 0;
    right: 55px;
}

.GamePackages_container_item_box {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 28px;
}

.GamePackages_container_item_box > h3 {
    padding-top: 100px;
    font-size: 45px;
    letter-spacing: 0.5px;
}

.item_box_p {
    display: flex;
    align-items: flex-end;
    justify-content: start;
    margin-bottom: 15px;
}

.item_box_p_price {
    font-size: 21px;
    font-weight: 600;
    color: #F64141;
    margin: 0;
}

.item_box_p_fakeprice {
    position: relative;
    font-size: 13px;
    font-weight: 600;
    color: #7D5555;
    margin-left: 15px;
    margin-bottom: 15px;
}

.item_box_p_fakeprice:before {
    content: '';
    position: absolute;
    width: 58px;
    height: 1px;
    background: #7D5555;
    margin-top: 9px;
}

.item_btn {
    display: flex;
    top: 55px;
    background: #F64141;
    border-style: none;
    margin: 9px 0px 0px;
    border-radius: 15px;
    margin-top: 30px;
    padding: 13px;
    width: 100%;
}

.vip_container_item_box .item_btn{
    padding: 0;
}

.item_btn_link {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F64141;
    border-style: none;
    margin: 9px 0px 0px;
    border-radius: 15px;
    margin-top: 30px;
    padding: 13px;
    width: 100%;
}

.shop {
    position: relative;
}

.shop::before {
    position: absolute;
    content: '';
    background: url(/username.traktorKillmachine.io/img/shop.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    left: 40px;
    top: 19px;
}

.shop:hover:before {
    transform: skew(-20deg, 20deg);
    transition: 0.5s ease;
}

.btn_price {
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 0 8px;
}

.item_box_table {
    padding-left: 17px;
    
}

.item_box_table > li {
    margin-bottom: 5px;
    font-size: 17px;
}

.services_container_item_box {
    display: flex;
    align-items: center;
    max-height: 201px;
    height: 100%;
}

.services_box {
    width: 100%;
    max-width: 200px;
    height: 100%;
}

.services_box_h3 {
    margin-top: 15px;
    margin-bottom: 5%;
}

.services_box_p {
    font-size: 14px;
    margin-bottom: 5%;
    width: 100%;
}

.services_box_price {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
    color: #F64141;
}

.services_img {

    margin-right: 10px;
}

img.item_box_img {
    position: absolute;
    top: -100px;
    left: 100px;
}

.GamePackages .p_title {
    margin-bottom: 200px;
}

.vip_container_item_box {
    align-items: center;
    margin-right: 21px;
    margin-left: 21px;
    padding-bottom: 28px;
}

.vip_h3 {
    font-size: 45px;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #A3A19F, #ffffff 20%, #A3A19F, #ffffff 80%);
    margin-bottom: 6px;
}

.h3_bronze {
    background-image: linear-gradient(to right, #BD7928, #dda35c 20%, #BD7928, #dda35c 80%);
}

.h3_gold {
    background-image: linear-gradient(to right, #fcdc5e, #EEAD13 30%);
}

.h3_exclusive {
    background-image: linear-gradient(to right, #B31C1C, #DB4D4D 20%, #B31C1C, #DB4D4D 80%);
}

.vip_fakeprice {
    font-size: 14px;
    font-weight: 600;
    margin-left: 7px;
    color: #F64141;
}

.vip_img {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
}

.vip_container_item_box .item_btn_link {
    padding: 13px 22px 13px;
    margin: 0;
}

.modal-content {
    box-shadow: 0px 0px 10px #000;
    color: #000;
}

.modal-body .container .row .col {
    border: 1px solid silver;
    margin: 10px 20px;
    background-color: rgb(155, 154, 154);
    color: rgb(83, 83, 83);
    text-shadow: none;
    border-radius: 12px;
}

.modal_p {
    color: #000;
    margin: 0;
}

.modal_btn {
    font-size: 24px;
    border: none;
    color: #fff;
    background: #F64141;
    width: 50%;
    padding: 20px 0;
    margin: 20px 25% 0;
    border-radius: 24px;
}

.modal_title {
    font-size: 32px;
    color: #000;
    margin: 0;
}

.pay__icon__visa {
    height: 1.4vh;
}

.modal-body .container .row .col .container {
    padding: 5px;
}

.modal-body .container .row .col .container .qwe {
    margin-top: 5px;
    align-items: center;
}

.pay__icon__visa {
    margin: 0 5px 0 0;
}

.modal-content.bg-white.modal_box {
    border-radius: 24px;
}

@media (min-width:576px){
	.container{
	max-width:540px
	}

	.services_box_h3 {
		font-size: 30px;
	}

}

@media (min-width:768px){
	.container{
	max-width:720px
	}

	.services_box_h3 {
		font-size: 30px;
	}

    section {
        margin-bottom: 100px;
    }

}

@media (min-width:992px){
	.container{
	max-width:960px
	}

	.services_box_h3 {
		font-size: 30px;
	}

    section {
        margin-bottom: 150px;
    }

}

@media (min-width:1200px){
	.container{
	max-width:1140px
	}

	.services_box_h3 {
		font-size: 30px;
	}

    section {
        margin-bottom: 150px;
    }
}

@media (min-width:1400px){
	.container{
	max-width:1410px
}
	.services_box_h3 {
		font-size: 30px;
	}

	.GamePackages_container_item {
		margin: 10px 10px 10px 10px;
	}

    section {
        margin-bottom: 200px;
    }

}
